<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='dist/images/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='dist/images/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='dist/images/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/style.css') }}">

  <link href="http://fonts.cdnfonts.com/css/neue-haas-grotesk-text-pro" rel="stylesheet">
  <title>vatsalaykhobragade > Home</title>
</head>

<body>
  <div class="container">
    <nav class="navbar transparent navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" id="nav-brand" href="{{ url_for('home') }}">Vatsalay.</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="toggler-icon top-bar"></span>
          <span class="toggler-icon middle-bar"></span>
          <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item" style="margin-right: 10px; margin-left: 10px;">
              <a class="nav-link" id="link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item" style="margin-right: 10px; margin-left: 10px;">
              <a class="nav-link" id='link' href="{{ url_for('work') }}">Work</a>
            </li>
            <li class="nav-item" style="margin-right: 10px; margin-left: 10px;">
              <a class="nav-link" id="link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item" style="margin-right: 10px; margin-left: 10px;">
              <a class="nav-link active" id="link" aria-current="page" href="{{ url_for('contact') }}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!-- main section -->
  <div class="container mt-5">
    <div class="container-fluid">
      <h1 class="heading" style="margin-bottom: 1px;">Let's create <span style="color: #FB929E;">something</span>
        together</span></h1>
      <p id="para">Let’s connect and start something awesome today.</p>
      <p id="para" class="mt-4">You can connect with me via my <span id="blog-link" class="hover-underline-animation"><a href="" id="para" style="color: #FB929E;text-decoration: none;">instagram</a></span>, <span id="blog-link" class="hover-underline-animation"><a href="" id="para" style="color: #FB929E;text-decoration: none;">linkedin</a></span> or you can just <span id="blog-link" class="hover-underline-animation"><a href="" id="para" style="color: #FB929E;text-decoration: none;">mail me</a>.</span></p> 
    </div>
  
    
  <!-- footer -->
  <footer class="footer mt-5 text-center">
    <div style="margin-top: 400px;">
      <a href="https://dribbble.com/vatsalay"><img src="{{ url_for('static', filename='dist/icons/dribble4.svg') }}"
          style="width: 15px; margin-right: 10px;"></a>
      <!-- instagram icons -->
      <a href="https://www.instagram.com/vatsalaykhobragade/"><img
          src="{{ url_for('static', filename='dist/icons/insta2.svg') }}" style="width: 15px; "></a>
      <!-- youtube incon -->
      <a href="https://www.youtube.com/channel/UCrbfgIYC_HsCV76WIMt8k6A"><img
          src="{{ url_for('static', filename='dist/icons/yt.svg') }}" style="width: 17px; margin-left: 10px;"></a>
      <p id="footer-text" class="mt-2" style="font-family: 'Neue Haas Grotesk Text Pro', sans-serif;">Designed and Coded
        by Me (:</p>
    </div>
  </footer>
  <!-- damn javascript -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
  </script>
</body>

</html>